name: Static Analysis

on:
  push:
    branches: [ main ]
    paths:
      - '**.md'
  pull_request:
    branches: [ main ]
    paths:
      - '**.md'

jobs:
  mdfmt:
    name: Markdown format
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Run dprint
      run: |
        curl -fsSL https://dprint.dev/install.sh | sh
        /home/runner/.dprint/bin/dprint check


