name: Monero LWS

on:
  push:
    branches: [ main ]
    paths:
      - 'monero-lws/Dockerfile'
      - 'monero-lws/TAG'

jobs:
  monero-lws:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Setup TAG
      run: |
          export TAG=$(cat monero-lws/TAG)
          echo "TAG=$TAG" >> $GITHUB_ENV

    - name: Docker build
      run: docker build --build-arg TAG=${TAG} -f $GITHUB_WORKSPACE/monero-lws/Dockerfile -t ghcr.io/farcaster-project/containers/monero-lws:monerod-${TAG} -t ghcr.io/farcaster-project/containers/monero-lws:latest $GITHUB_WORKSPACE/monero-lws

    - name: Docker push to GitHub Packages
      run:  |
          docker push ghcr.io/farcaster-project/containers/monero-lws:monerod-${TAG}
          docker push ghcr.io/farcaster-project/containers/monero-lws:latest
